.bg-pink {
    background-color: #fa8490;
    border: 4px solid #fa8490;
}

.bg-purple {
    background-color: #806c95;
    border: 4px solid #806c95;
}

.bg-blue {
    background-color: #579fde;
    border: 4px solid #579fde;
}

.bg-yellow {
    background-color: #f7c84b;
    border: 4px solid #f7c84b;
}